@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --main-bg-color: #1f1f1f;
  --primary-color: #40a9ff;
  --error-color: #f5222d;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--main-bg-color);
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol,
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
input,
input:focus {
  border: none;
  outline: none;
}
button {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.loader span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin: 0 5px;
  opacity: 0;
}
.loader span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}
.loader span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}
@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

/* Auth */
.auth-block {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-block .white-box {
  padding: 3rem;
  width: 100%;
  max-width: 360px;
  background-color: white;
  border-radius: 4px;
}
.auth-block .logo-area {
  margin-bottom: 3rem;
  font-size: 4rem;
  color: var(--primary-color);
  text-align: center;
}

/* Auth Form */
.auth-form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form-block h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.auth-form-block form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auth-form-block input {
  flex-grow: 1;
  padding: 0 20px;
  height: 40px;
  font-size: 1.2rem;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}
.auth-form-block input + input {
  margin-top: 1rem;
}
.auth-form-block button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
}
.auth-form-block button:hover {
  opacity: 0.8;
}
.auth-form-block .email-button {
  margin-top: 1rem;
  background-color: var(--main-bg-color);
  color: white;
}
.auth-form-block .social-button {
  width: 100%;
}
.auth-form-block .google-button {
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: white;
}
.auth-form-block .divider {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  color: #d9d9d9;
}
.auth-form-block .divider:before,
.auth-form-block .divider:after {
  content: '';
  display: block;
  width: 50%;
  height: 1px;
  background-color: #d9d9d9;
}
.auth-form-block .link a {
  font-size: 1.2rem;
  text-decoration: underline;
  color: #595959;
}
.auth-form-block .error {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: red;
  text-align: center;
}

/* Home */
.home-block {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
}
.home-block::-webkit-scrollbar {
  display: none;
}
.home-inner {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  height: 100%;
}

/* Navigation */
.navigation-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-block a,
.navigation-block button {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--primary-color);
  background-color: transparent;
}
.navigation-block span {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: white;
}

/* TweetFactory */
.tweet-factory-block {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* Upload Form */
.upload-form-block {
  width: 100%;
}
.upload-form-block .text-form {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
}
.upload-form-block .text-form input {
  padding: 0 50px 0 20px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  border-radius: 20px;
}
.upload-form-block .text-form button {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.upload-form-block .image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-form-block .image-form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.upload-form-block .image-form input {
  width: 0;
  height: 0;
  opacity: 0;
}
.upload-form-block .image-form p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.upload-form-block .output {
  padding-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.upload-form-block .output .file-name {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
}
.upload-form-block .image-preview {
  position: relative;
}
.upload-form-block .image-preview img {
  margin: auto;
  display: block;
  max-width: 100%;
}
.upload-form-block .remove-preview {
  position: absolute;
  bottom: -34px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
.upload-form-block .error {
  margin: 2rem 0;
  font-size: 1.2rem;
  color: var(--error-color);
}

/* Tweet List */
.tweet-list-block {
  margin-top: 4rem;
}

/* Tweet Item */
.tweet-item-block {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}
.tweet-item-block + .tweet-item-block {
  margin-top: 2rem;
}
.tweet-item-block .header {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.tweet-item-block .image-area {
  text-align: center;
}
.tweet-item-block .image-area img {
  max-width: 100%;
  max-height: 300px;
}
.tweet-item-block .text-area {
  padding: 1rem;
}
.tweet-item-block .text-area .content {
  font-size: 1.6rem;
}
.tweet-item-block .text-area .time {
  margin-top: 1rem;
  font-size: 1rem;
  color: #a0a0a0;
}
